@charset "ISO-8859-1";

body {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 50px;
	padding-left: 50px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	background-color: #0be881;
	border: none;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 10px;
}

.newbutton {
	float: right; 
	text-decoration : none;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 50px;
	margin-bottom: 12px;
	border: 3px solid #0be881;
	border-radius: 30px;
	color: #0be881;
	padding: 10px 15px;
	
}

.newbutton:hover {
	background-color: #0be881;
	color: white;
}

.table {
	border-collapse: separate;
	border-spacing: 5px;
	width: 100%;
	border: none;
}

.table td, .table th {
	border-radius: 4px;
	border: none;
	padding: 10px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}

.table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0be881;
	color: white;
	text-transform: uppercase;
}

#deleteb {
	border: 3px solid #ff3f34;
	border-radius: 30px;
	padding: 3px 10px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ff3f34;
	text-transform: uppercase;
}

#deleteb:hover {
	background-color: #ff3f34;
	color: white;
}

.editb {
	border: 3px solid #3498db;
	border-radius: 30px;
	padding: 3px 10px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #3498db;
	text-transform: uppercase;
}

.editb:hover {
	background-color: #3498db;
	color: white;
}